rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function signedIn(){ return request.auth != null && request.auth.token.email != null; }
    function email(){ return request.auth.token.email; }
    function isBuiltInAdmin(){ return signedIn() && email() in ["master004400@gmail.com"]; }
    function adminDocExists(){ return exists(/databases/$(database)/documents/settings/admins); }
    function isListedAdmin(){ return signedIn() && adminDocExists() && email() in get(/databases/$(database)/documents/settings/admins).data.emails; }
    function isAdmin(){ return isBuiltInAdmin() || isListedAdmin(); }
    match /activities/{activityId} {
      allow read: if true;
      allow create, update, delete: if isAdmin();
      match /registrations/{regId} { allow read: if isAdmin(); allow create: if true; allow update, delete: if isAdmin(); }
      match /feedbacks/{feedbackId} { allow read: if isAdmin(); allow create: if true; allow update, delete: if isAdmin(); }
    }
    match /settings/admins { allow read: if isAdmin(); allow create, update: if isBuiltInAdmin() || isListedAdmin(); allow delete: if false; }
  }
}
